---
- name: Install pip
  apt:
    name: python3-pip
    state: present
    update_cache: yes

- name: Install Docker Python libraries
  pip:
    name:
      - docker
      - docker-compose

- name: Run container
  community.docker.docker_container:
    name: wartest
    image: "{{ image }}"
    published_ports:
      - "8081:8080"
    state: started
