---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install required system packages
  apt:
    name:
      - python3-pip
      - python3-setuptools
      - docker.io
    state: present

- name: Start and enable Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Install Docker SDK for Python
  pip:
    name:
      - docker
    executable: pip3

- name: Run container
  docker_container:
    name: wartest
    image: "{{ image }}"
    published_ports:
      - "8081:8080"
    state: started
