---
- name: Ensure python3 and pip are installed
  apt:
    name:
      - python3
      - python3-pip
      - python3-setuptools
    state: present
    update_cache: yes

- name: Upgrade pip
  command: python3 -m pip install --upgrade pip

- name: Install Docker SDK for Python
  command: python3 -m pip install docker

- name: Docker login to GitLab registry
  docker_login:
    registry_url: registry.gitlab.com
    username: amrounilila24
    password: "{{glpat-nj-7Vn8xToZiI8qxCiljh286MQp1OmlsMGx2Cw.01.120qf5mc3}}"

- name: Run wartest container
  docker_container:
    name: wartest
    image: "{{ image }}"
    published_ports:
      - "8081:8080"
    restart_policy: always
    state: started
